body {
  background-color: #e2e2e2;
}
.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
.row_container {
  display: flex;
  height: 100vh;
}
.element {
  width: 100%;
  /* border: 1px solid; */
  /* background-image: url(./img/Koran.png); */
  /* background-color: antiquewhite; */
}
.element:hover {
  background-color: rgb(158, 158, 158);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.797);
  top: 0;
  left: 0;
  display: none;
}
.popup_body {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content {
  background-color: white;
  color: black;
  width: 55%;
  height: 60vh;
  padding: 30px;
  position: relative;
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.imgItems {
  width: 100%;
  height: 100%;
}
.header_phone {
  display: none;
}
.popup_img1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 960px) {
  .container {
    margin-top: 130px;
    margin-bottom: 70px;
    height: 50vh;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 22px;
  }
  .popup_img {
    margin-left: 30px;
  }
  .popup_img1 {
    /* position: relative;
    bottom: 100px; */
    width: 200px;
  }
  .popup_content {
    height: 80vh;
    width: 70%;
  }
  .popup_text1 {
    font-size: 12px;
  }
  .element {
    margin-bottom: 25px;
  }
}
