body {
  background-color: #e2e2e2;
}
span{
  color: rebeccapurple 
}
h1 {
  text-align: center;
  font-size: 22px;
}
.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
.row_container {
  display: flex;
  height: 100vh;
}
.element {
  width: 100%;
}
.popup_text1 {
  font-size: 16px;
  text-align: justify;
}
.element:hover {
  background-color: rgb(158, 158, 158);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.797);
  top: 0;
  left: 0;
  display: none;
}
.popup_body {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.popup_content {
  border: 3px solid rgb(77, 77, 77);
  border-radius: 30px;
  background-color: #fafafa;
  color: black;
  width: 40%;
  height: 80vh;
  padding: 30px;
  position: relative;
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.imgItems {
  width: 100%;
  height: 100%;
}
.header_phone {
  display: none;
}
.popup_img1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.popup_img {
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .container {
    margin-top: 130px;
    margin-bottom: 70px;
    height: 50vh;
    width: 100%;
  }
  .popup_img1 {
    width: 200px;
  }
  .popup_content {
    height: 80vh;
    width: 70%;
  }
  
  .popup_text1 {
    font-size: 12px;
  }
  .element {
    margin-bottom: 25px;
  }
}
